In [1]:
import pandas as pd

In [3]:
bd=pd.read_csv("E:datasets/svmfile.csv")

In [4]:
bd.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [6]:
bd.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [10]:
bd.y.replace({"no":0,"yes":1},inplace=True)

In [11]:
bd=pd.get_dummies(bd)

In [12]:
bd_y=bd.y

In [13]:
bd_x=bd.drop(['y'],axis=1)

In [29]:
from sklearn.model_selection import train_test_split
train_y,test_y,train_x,test_x=train_test_split(bd_y,bd_x,random_state=555,test_size=0.2)

In [50]:
from sklearn.svm import SVC
sv=SVC(kernel='poly',degree=3)  #sigmoid,poly with degree 3

In [51]:
sv.fit(train_x,train_y)

SVC(kernel='poly')

In [52]:
pred=sv.predict(test_x)

In [53]:
from sklearn.metrics import confusion_matrix
tab1=confusion_matrix(pred,test_y)
tab1

array([[7175,  742],
       [ 113,  208]], dtype=int64)

In [49]:
tab1.diagonal().sum()/tab1.sum()

0.8958485069191552

In [54]:
from sklearn.linear_model import LogisticRegression

In [55]:
lr=LogisticRegression()

In [56]:
lr.fit(train_x,train_y)

C:\Users\sunil\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [57]:
pred=lr.predict(test_x)

In [58]:
from sklearn.metrics import confusion_matrix
tab1=confusion_matrix(pred,test_y)
tab1

array([[7107,  609],
       [ 181,  341]], dtype=int64)

In [59]:
tab1.diagonal().sum()/tab1.sum()

0.9041029376062151